<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.mapper.UclinkMapper">

    <resultMap id="BaseResultMap" type="exam.domain.Uclink">
        <id property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="userno" column="userno" jdbcType="VARCHAR"/>
        <result property="courseno" column="courseno" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseColumn">
        ID,userno,courseno
    </sql>

    <select id="queryno" parameterType="String">
        select courseno from uclink where userno = #{value}
    </select>

    <select id="query" parameterType="exam.domain.Uclink" resultMap="BaseResultMap">
        select * from uclink where courseno = #{courseno} and userno = #{userno}
    </select>

    <insert id="insert" parameterType="exam.domain.Uclink">
        insert into uclink(ID,userno,courseno) values (#{id},#{userno},#{courseno})
    </insert>

    <update id="update" parameterType="exam.domain.Uclink">
        update uclink set userno = #{userno} where courseno = #{courseno}
    </update>

    <delete id="delete" parameterType="String">
        delete from uclink where courseno = #{value}
    </delete>
</mapper>
